body {
	font-family: sans-serif;
}
#map_canvas {
	width: 290px;
	height: 340px;
}

#miestacion {
	width: 300px;
	height: 350px;
}

#loader {
	top: 50%;
	left: 50%;
}

.wrapper {
	position:absolute;
	top:50%;
	left:50%;
}